body {
  font-size: 1.125rem;
  line-height: 1.618em;
  color: #454545;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 2rem auto;
}
a {
  color: #3498db;
  text-decoration:none;
  border-bottom:0.0625em dotted #3498db;
}
.fade_in_bg{
  transition:0.35s;
  padding:0.25em 0.25em 0.05em;
}
.fade_in_bg:hover { 
  background: #3498db;
  color:#fff;
}
a[class^="slide_"]{
  position: relative;
  padding:0.25em 0.25em 0.05em;
  overflow:hidden;
  display: inline-block;
}

a[class^="slide_"]:after{
  content:attr(data-linktext);
  position: absolute;
  background: #3498db;
  color:#fff;
  transition:0.35s;
  white-space: nowrap;  
  padding:0.25em 0.25em 0.05em;
  top: 0;
  bottom: 0;
}
a.slide_from_left:after{
  left:-100%;
  right:100%;
}
a.slide_from_right:after{
  left:100%;
  right:-100%;
}
a.slide_from_top:after{
  top:-100%;
  bottom:100%;
  left: 0;
  right: 0;
}
a.slide_from_bottom:after{
  top:100%;
  bottom:-100%;
  left: 0;
  right: 0;
}
a[class^="slide_"]:hover:after{
  left: 0;top: 0;right: 0;bottom: 0;
}
a[class*="underline"]{
  border-bottom:none;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
a[class*="underline"]:after{
  content:'';
  position: absolute;
  bottom:0;
  border-bottom:0.125em solid #3498db;
  transition:transform 0.35s;
  left: 0;
  right: 0; 
}
a.fade_in_underline{
  border-bottom:0.125em solid transparent;
  transition:0.35s;
}
a.fade_in_underline:after{
  border:none;
}
a.fade_in_underline:hover{
  border-color:#3498db;
}
a.underline_from_left:after{  
  transform:translateX(-100%);
}
a.underline_from_right:after{  
  transform:translateX(100%);
}

a.underline_from_center:after{
  transform:scaleX(0);
}

a[class*="underline"]:hover:after{
  transform:none;
}